[Unit]
Description=CyberSentinel DLP Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/cybersentineldlp
ExecStart=/usr/bin/python3 /opt/cybersentineldlp/agent.py
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cybersentineldlp-dlp

[Install]
WantedBy=multi-user.target
